.row {
  display: flex;
  flex: 1;
}
.col {
  margin-bottom: 15px;
}
.card {
  border: 1px solid;
  border-color: rgb(239, 236, 236);
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.form-control {
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 1%;
  flex-direction: column;
}
.card:hover {
  box-shadow: 0px 0px 10px #777, 0px 0px 10px rgb(248, 246, 246);
}
.fa {
  font-size: 150px;
}
.form-label {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 50%;
}
.form {
  flex-direction: column;
}
.form-pic {
  justify-content: space-between;
  display: flex;
  width: 50%;
  flex-direction: row;
}
.form-input {
  width: 50%;
  height: 50px;
}
.check {
  width: 40%;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.form-select {
  width: 50%;
}
.form-group {
  flex-direction: row;
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.form-result{
  width: 80%;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
}

.btn {
  margin-top: 10px;
  width: 20%;
  margin-right: 5%;
  font-size: 18px;
  font-weight: 600;
}
