<div class="root">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My App test in Angular & NodeJs</a>
    </div>
  </nav>
  <div class="container">
    <h4 class="title">
      Choose the figure whose perimeter or area you want to calculate
    </h4>
    <div class="row">
      <div class="col" *ngFor="let items of pictures">
        <div
          class="card"
          style="width: 15rem"
          (click)="PictureSelected(items.getName())"
        >
          <img
            src="{{ items.getPictureName() }}"
            class="img"
            alt="{{ items.getName() }}"
            aria-hidden="true"
          />
          <div class="card-body">
            <h5 class="card-title">
              Picture :
              <strong>{{ items.getName() }}</strong>
            </h5>
          </div>
        </div>
      </div>

      <form [hidden]="showForm" class="form-control">
        <span [hidden]="showForm">
          <label class="form-label">Choose the unit of measure</label>
          <select
            class="form-control form-select"
            (change)="onChange($event.target)"
            value="{{ startUnit }}"
          >
            <option *ngFor="let item of unit" value="{{ item.unitPerimeter }}">
              {{ item.name }} ({{ item.unitPerimeter }})
            </option>
          </select></span
        >
        <div [hidden]="showForm1" class="row form">
          <label class="form-label" style="font-weight: 700"
            >Please enter</label
          >
          <div class="col form-pic">
            <label for="id-side" class="form-label" aria-
              >Side of square:
            </label>
            <input
              #side
              id="id-side"
              type="number"
              class="form-control form-input"
              (change)="handleSide(side)"
            />
          </div>
        </div>

        <div [hidden]="showForm2" class="row form">
          <label class="form-label" style="font-weight: 700"
            >Please enter</label
          >
          <div class="col form-pic">
            <label for="id-raduis" class="form-label"
              >Raduis of circle :
            </label>
            <input
              #raduis
              id="id-raduis"
              type="number"
              class="form-control form-input"
              (change)="handleRaduis(raduis)"
            />
          </div>
        </div>

        <div [hidden]="showForm3" class="row form">
          <label class="form-label" style="font-weight: 700"
            >Please enter</label
          >
          <div class="col form-pic">
            <label for="id-width" class="form-label"
              >Width of rectangle :
            </label>
            <input
              #width
              id="id-width"
              type="number"
              class="form-control form-input"
              (change)="handleWidth(width)"
            />
          </div>
          <div class="col form-pic">
            <label for="id-length" class="form-label"
              >Length of rectangle :
            </label>
            <input
              #length
              id="id-length"
              type="number"
              class="form-control form-input"
              (change)="handleLength(length)"
            />
          </div>
        </div>

        <div class="row form" [hidden]="showForm4">
          <label class="form-label" style="font-weight: 700"
            >Please enter</label
          >
          <div class="col form-pic">
            <label for="id-firstSide" class="form-label"
              >First side of triangle :
            </label>
            <input
              #side1
              id="id-firstSide"
              type="number"
              class="form-control form-input"
              (change)="handleSide1(side1)"
            />
          </div>
          <div class="col form-pic">
            <label for="id-secondSide" class="form-label"
              >Second side of triangle :
            </label>
            <input
              #side2
              id="id-secondSide"
              type="number"
              class="form-control form-input"
              (change)="handleSide2(side2)"
            />
          </div>
          <div class="col form-pic">
            <label for="id-thirdtSide" class="form-label"
              >Third side of triangle :
            </label>
            <input
              #side3
              id="id-thirdtSide"
              type="number"
              class="form-control form-input"
              (change)="handleSide3(side3)"
            />
          </div>
        </div>

        <div [hidden]="getshow()" class="row form">
          <label class="form-label" style="font-weight: 700"
            >Please enter</label
          >
          <div class="col form-pic">
            <label for="id-width" class="form-label">Base of triangle : </label>
            <input
              #base
              id="id-base"
              type="number"
              class="form-control form-input"
              (change)="handleBase(base)"
            />
          </div>
          <div class="col form-pic">
            <label for="id-length" class="form-label"
              >Height of triangle :
            </label>
            <input
              #height
              id="id-height"
              type="number"
              class="form-control form-input"
              (change)="handleHeight(height)"
            />
          </div>
        </div>

        <label class="form-label"
          >Do you want to calculate the perimeter or the area of the chosen
          figure?</label
        >
        <div class="check">
          <div class="form-check">
            <input
              id="perimeter"
              class="form-check-input"
              type="checkbox"
              value="{{ chekboxPerimeter }}"
              name="checked"
              (change)="onChangeCheckBoxPerimeter()"
              [(ngModel)]="chekboxPerimeter"
            />
            <label class="form-check-label" for="perimeter"> Perimeter </label>
          </div>
          <div class="form-check">
            <input
              id="area"
              class="form-check-input"
              type="checkbox"
              value="{{ chekboxArea }}"
              name="checked"
              (change)="onChangeCheckBoxArea()"
              [(ngModel)]="chekboxArea"
            />
            <label class="form-check-label" for="area"> Area </label>
          </div>
        </div>

        <div [hidden]="showForm" class="form-group">
          <span [hidden]="!chekboxPerimeter">
            <label class="form-label">Choose the unit of the perimeter</label>
            <select
              class="form-control form-select"
              (change)="onChangePmt($event.target)"
            >
              <option
                *ngFor="let item of unit"
                value="{{ item.unitPerimeter }}"
              >
                {{ item.name }} ({{ item.unitPerimeter }})
              </option>
            </select></span
          >
          <span [hidden]="!chekboxArea">
            <label class="form-label">Choose the unit of area</label>
            <select
              class="form-control form-select"
              (change)="onChangeArea($event.target)"
            >
              <option *ngFor="let item of unit" value="{{ item.unitArea }}">
                {{ item.name }} ({{ item.unitArea }})
              </option>
            </select></span
          >
        </div>
        <div class="form-result">
          <button class="btn btn-primary" (click)="handleSubmit()">
            Submit
          </button>
          <h5 [hidden]="show">
            The {{ getChoise() }} of the {{ picName }} is :
            <strong>
              {{ getResult(picName, getChoise(), startUnit, endUnit) }}
              {{ endUnit }}</strong
            >
          </h5>
        </div>
      </form>
    </div>
  </div>
</div>
